<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="../css/mainEnthreide.css"/>
</head>
<body>
<header>
    <nav>
        <ul id="menu_horizontal">
            <li ><a href="#" class="bouton">&Eacutevenements</a></li>
            <li><a href="#" class="bouton">Annonces</a></li>
            <li><form action="#" methode="post" enctype="text/plain">
                <div id="recherche">
                    <input type="text" name="recherche" placeholder="Recherche" id="recherche">
                </div>
                <div id="valider">
                    <input type="submit" class="rechercher" value="">
                </div>
            </form>
            </li>
            <li><a href="#"><img src="img/myaccount.png" alt="myaccount" id="buttonAccount" /></a></li>
            <li><a href="#"><img src="img/logoff.png" alt="logoff" id="buttonOff" /></a></li>
        </ul>
    </nav>
    <div id="logo">
        <a href="#"><img src="img/logo.png" alt="logo" class="boutonHome" /></a>
    </div>
</header>
<footer>
    <a href="#">Mentions Légales</a>
</footer>
</body>
</html>