<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="stylesheet" type="text/css" href="../css/mainEnthreide.css"/>
    </head>
    <body>
    <div id="bandeau">
    </div>
    <div id="formulaireConnexion">
        <h1>EntreHeide</h1>
        <h2>Bienvenue sur le site d'entraide r&eacuteserv&eacute aux Heiiens</h2>
        <form action="connexion" methode="post" enctype="text/plain">
            <div>
                <input type="text" name="mailConnexion" placeholder="Adresse e-mail"/>
            </div>
            <div>
                <input type="password" name="pswConnexion" placeholder="Mot de Passe">
            </div>
            <div>
                <input type="submit" name="confirmerConnexion" value="Je me connecte"/>
            </div>
            <a href="inscription">Je ne suis pas encore inscrit</a>
        </form>
    </div>
    <footer>
    </footer>
    </body>
</html>