<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NotAdmin</title>
    <link rel="stylesheet" type="text/css" href="../../css/mainEnthreide.css" th:href="@{css/mainEnthreide.css}"/>
    <script type="application/javascript" src="script/script.js" ></script>

</head>
<body>
<h1>Vous n'etes pas administrateur du site, veuillez retourner &egrave la page pr&eacutec&eacutedente !</h1>


</body>
<footer th:insert="~{fragments::footer}"></footer>

</html>